<div class="container px-4 mx-auto">
    <div class="flex items-center justify-between mt-1 mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-white">
            Matrículas
        </h2>
        @if (authService.isAdmin()) {
            <p-button
                label="Matricular usuario"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="goToEnrollmentForm()" />
        }
    </div>

    <p-table
        #table
        [value]="enrollmentsRows"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped p-datatable-gridlines"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Curso</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Fecha</th>
                @if (authService.isAdmin()) {
                    <th class="flex justify-center">Acciones</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.enrollment.id }}</td>
                <td>{{ row.enrollment.course.name }}</td>
                <td>{{ row.enrollment.user.name }}</td>
                <td>{{ row.enrollment.status | enrollmentStatusName }}</td>
                <td>{{ row.enrollment.enrolledAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                @if (authService.isAdmin()) {
                    <td class="flex justify-center">
                        <p-menu #menu [model]="row.actions" [popup]="true" [appendTo]="table" />
                        <p-button severity="secondary" size="small" (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
                    </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>
